@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

:root {
  font-family: "Nunito", serif, "Noto Sans TC", serif, Helvetica, Arial;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  color: #e0e0e0;
  background-color: #242424;

  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-top: 0;
  text-align: center;
}
h2 {
  font-size: 1.875em;
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin: 1.8em auto 0.6em;
}
h3 {
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin: 1.2em auto 0.6em;
}

p {
  font-size: 1.25em;
  line-height: 1.6;
  margin: 0.6em auto;
}

.note {
  font-size: 1.15rem;
  opacity: 0.9;
}
summary {
  font-size: 1.25em;
  cursor: pointer;
  font-weight: 600;
}
summary:hover {
  color: #a1e3f9;
}

button:hover {
  border-color: #e0e0e0;
}
button:active {
  transform: scale(0.98);
}
.notification-btn, .test-btn {
  width: 220px;
  background: #3d464b;
  color: white;
  border: solid 1.5px transparent;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  margin: 4px 0 8px;
  padding: 10px;
  opacity: 1;
  cursor: pointer;
  transition: all 0.25s ease;
}
.notification-btn:disabled {
  pointer-events: none;
  opacity: 0.6;
  cursor: default;
}

/* Top level bullet list */
.bullets {
  list-style-type: disc;
  padding-left: 24px;
}
/* 2nd level bullet list */
.bullets .bullets {
  list-style-type: circle;
  margin-top: 8px;
}
/* List items spacing */
.bullet {
  font-size: 1.25em;
  margin-bottom: 4px;
}

.feedback {
  font-weight: 700;
  color: #a1e3f9;
  text-decoration: inherit;
}
.feedback:hover {
  color: #d1f8ef;
}

/* Sidebar text */
span {
  letter-spacing: 0.02em;
}