@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

:root {
  font-family: "Nunito", serif, "Noto Sans TC", serif, Helvetica, Arial;
  line-height: 1.5;
  font-weight: 400;

  -webkit-font-smoothing: antialiased;
}

* {  
  transition:
    background-color 0.5s ease,
    border-color 0.5s ease;  
}  

/* dark theme */
.dark-theme {
  --background-color: #242424;
  --color: #e0e0e0;

  --sidebarBg: #282828;
  --sidebarBorder: #505050;
  --sidebarActive: #404040;
  --sidebarHover: #404040;
  --sidebarTooltipBg: #bfdbfe;
  --sidebarTooltipColor: #1e3a8a;

  --btnBg: #3d464b;
  --btnColor: white;
  --btnHoverBorder: #e0e0e0;

  --textHover: #a1e3f9;
  --feedback: #a1e3f9;
  --feebackHover: #d1f8ef;
}

/* light theme */
.light-theme {
  --background-color: #f6f6f6;
  --color: #242424;

  --sidebarBg: #f3f3f3;
  --sidebarBorder: #c0c0c0;
  --sidebarActive: #d8d8d8;
  --sidebarHover: #d8d8d8;
  --sidebarTooltipBg: #dbeafe;
  --sidebarTooltipColor: #1e3a8a;

  --btnBg: #d8d8d8;
  --btnColor: #242424;
  --btnHoverBorder: #0284c7;

  --textHover: #1d4ed8;
  --feedback: #1d4ed8;
  --feebackHover: #0284c7;
}

.main-theme {
  background-color: var(--background-color);
  color: var(--color);
}

/* Sidebar classes */
.sidebar-theme {
  background-color: var(--sidebarBg);
  color: var(--color);
  border-color: var(--sidebarBorder);
}
.sidebar-tooltip {
  background-color: var(--sidebarTooltipBg);
  color: var(--sidebarTooltipColor);
}
.sidebar-active {
  background-color: var(--sidebarActive);
}
.sidebar-hover:hover {
  background-color: var(--sidebarHover);
}
.sidebar-line {
  border-color: var(--sidebarBorder);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 1.2em;
  text-align: center;
}
h2 {
  font-size: 1.875em;
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin: 1.8em auto 0.6em;
}
h3 {
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin: 1.2em auto 0.6em;
}

p {
  font-size: 1.25em;
  line-height: 1.6;
  margin: 0.6em auto;
}

.note {
  font-size: 1.15rem;
  opacity: 0.9;
}
summary {
  font-size: 1.25em;
  cursor: pointer;
  font-weight: 600;
}
summary:hover {
  color: var(--textHover);
}

button:hover {
  border-color: var(--btnHoverBorder);
}
button:active {
  transform: scale(0.98);
}
.notification-btn, .test-btn {
  width: 220px;
  background: var(--btnBg);
  color: var(--btnColor);
  border: solid 1.5px transparent;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  margin: 4px 0 8px;
  padding: 10px;
  opacity: 1;
  cursor: pointer;
  transition: all 0.25s ease;
}
.notification-btn:disabled {
  pointer-events: none;
  opacity: 0.6;
  cursor: default;
}

/* Top level bullet list */
.bullets {
  list-style-type: disc;
  padding-left: 24px;
}
/* 2nd level bullet list */
.bullets .bullets {
  list-style-type: circle;
  margin-top: 8px;
}
/* List items spacing */
.bullet {
  font-size: 1.25em;
  margin-bottom: 4px;
}

/* References */
ol {
  list-style-type: decimal;
  font-size: 1.25em;
}
ol li {
  margin-left: 1.75em;
  margin-bottom: 0.5em;
}
ol li:hover {
  color: var(--textHover);
  font-weight: 700;
}

.feedback {
  font-weight: 700;
  color: var(--feedback);
  text-decoration: inherit;
}
.feedback:hover {
  color: var(--feebackHover);
}

/* Sidebar text */
span {
  letter-spacing: 0.02em;
}